nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  margin: 0 auto;
  /* margin-bottom: 20px; */
}

.logo img {
  width: 130px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 25px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a {
  position: relative;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1.3px;
}

nav ul li a:hover:after {
  width: 100%;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.animation {
  animation: navLinkFade 0.5s ease forwards 0.7s;
}

@media screen and (max-width: 1140px) {
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width: 870px) {
  .nav-links {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .nav-links {
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  body {
    overflow-x: hidden;
  }

  /* NAV BAR */

  .nav-links {
    margin: 0;
    position: absolute;
    right: 0;
    height: 100vh;
    top: 12.5vh;
    font-size: 30px;
    background-color: #f6fbf4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 2000;
  }

  .nav-links li {
    opacity: 0;
    margin-bottom: 60px;
    margin-top: 20px;
  }

  .nav-links a {
    color: #000000;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}
